.Brands-article{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.Brands-article h2{
    text-align: center;
    color: rebeccapurple;
}

.Brands-article div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Brands-article img{
    width: 85px; 
    height: 85px;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: color-burn;
    margin: 0 30px;
}


/* @keyframes logosAnimation {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);

    }
}


.Brands-article div{
    animation: logosAnimation 3s  linear;
} */











